// Primary Colors
$dark_violet: hsl(256, 26%, 20%);
$Grayish_blue: hsl(216, 30%, 68%);

// Neutral colors
$very_dark_violet: hsl(270, 9%, 17%);
$dark_grayish_violet: hsl(273, 4%, 51%);
$very_light_gray: hsl(0, 0%, 98%);

// Fonts Family
$heading_font: 'DM Serif Display', serif;
$text_font: 'Karla', sans-serif;
